@use '../../../../styles-core/variables';

#main .admin-section {
  padding: 0;
  overflow: hidden;
}

#main .section-summary {
  list-style: none;
  cursor: pointer;
  padding: variables.$spacing-base;
  background: variables.$color-gray-50;
  border-bottom: 1px solid variables.$color-gray-200;
}

#main .section-summary::-webkit-details-marker {
  display: none;
}

#main .section-body {
  display: grid;
  gap: variables.$spacing-base;
  padding: variables.$spacing-base;
}
