@use '../../../../styles-core/variables';

#main .admin-empty-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: variables.$spacing-lg variables.$spacing-md;
  min-height: 80px;
  border-radius: variables.$radius-base;
  background: variables.$color-gray-50;
  border: 1px dashed variables.$color-gray-300;
}

#main .admin-empty-list__content {
  font-size: variables.$font-size-sm;
  color: variables.$color-gray-500;
  text-align: center;
}
